{% extends "base.html" %}
{% block content %}
<div class="content-section">
    <form action="" method="GET">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Search</legend>
            Search: <br>
            <input type="search" name="search">
            <button class="btn btn-outline-info" type="submit">Search</button>
        </fieldset>
    </form>
    <legend class="border-bottom mb-4">Posts</legend>
    {% for new in news %}
        <article class="media content-section">
        <img src="{{ new.author.image.url }}" alt="" class="rounded-circle artcile-img">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ new.author }}</a>
              <small class="text-muted">{{ new.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'news:detail' new.id %}">{{ new.title }}</a></h2>
            <p class="article-content">{{ new.content }}</p>
          </div>
        </article>
    {% endfor %}
    <legend class="border-bottom mb-4">Users</legend>
    {% for user in users %}
    <article class="media content-section">
      <img src="{{ user.image.url }}" alt="" class="rounded-circle">
      <div class="media-body">
        <a class="mr-2" href="#">{{ user.username }}</a>
      </div>
    </article>
    {% endfor %}
</div>
{% endblock content %}
    
